@import 'tailwindcss';

/* .react-datepicker__input-container,
.react-datepicker__input-container {
    padding: 12.5px 14px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    border-color: var(--color-gray-shade-10);
} */

.datePickCustom,
.datePickerError {
    width: 100%;
    padding: 8px 14px;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
    border-color: var(--color-gray-shade-10);
}

.datePicker-calendar-custom {
    padding: 16px;
    border: 0;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

.datePickerError {
    border-color: var(--color-high-priority);
}

.react-datepicker__header--custom {
    background-color: white !important;
    border-bottom: 0 !important;
    padding: 0 !important;
}

.react-datepicker__month {
    @apply px-[30px];
}

.react-datepicker__month {
    margin-bottom: 22px;
}

.react-datepicker__day {
    /* color: var(--color-gray-Shades-Headlines,); */
    /* @apply font-Fira-Go; */
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    color: white !important;
    background-color: var(--color-purple-accent) !important;
    font-weight: 700;
    border-radius: 2px !important;
}

.react-datepicker__month-container {
    margin-bottom: 22px;
}

.react-datepicker__children-container {
    width: 100% !important;
    margin: 0px !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
    user-select: none;
    text-align: center !important;
    width: 32px !important;
    height: 32px;
    margin: 0 !important;
    line-height: 1.8rem !important;
}

.not-same-month {
    color: #ccc;
}
