/* @import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,600,700'); */

/* Font Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');

/* Fredoka One */
@font-face {
    font-family: 'Fredoka One';
    src: url('./assets/fonts/fredoka-one.one-regular.ttf');
}

/* FiraGo Fonts */

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/FiraGo/FiraGO-Light.woff') format('woff');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 350;
    src: url('./assets/fonts/FiraGo/FiraGO-Book.woff') format('woff');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/FiraGo/FiraGO-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/FiraGo/FiraGO-Medium.woff') format('woff');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/FiraGo/FiraGO-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/FiraGo/FiraGO-Bold.woff') format('woff');
}
