@import url('./fonts.css');
@import 'tailwindcss';

@layer base {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-Fira-Go;
    }
}

@theme {
    --color-purple-accent: #8338ec;
    --color-purple-hover: #b588f4;
    --color-Gray-Shades-Headlines: #212529;
    --global-padding: 120px;
    --font-Fredoka-One: 'Fredoka One';
    --font-Fira-Go: 'FiraGO';
}
